[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/world-id-onchain-template"]
	path = lib/world-id-onchain-template
	url = https://github.com/worldcoin/world-id-onchain-template
[submodule "lib/maci"]
	path = lib/maci
	url = https://github.com/privacy-scaling-explorations/maci
